.test-visualization {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;

    #visualization {
        width: 80%;
        height: 100%;
        min-width: 500px;
        overflow: hidden;
    }

    #toolbox {
        height: 100%;
        width: 19%;
        padding-left: .5%;
        padding-right: .5%;
        margin:0;
        min-width: 100px;
        text-align: left;
        background-color: grey;

        .accordion-block {
            display: block;
        }
    }
}
