.menu-selector {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    $width-menu: 350px;

    select {
        width: $width-menu;
        overflow: hidden;
        text-overflow: ellipsis;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        border: 1px solid #aaa;
        padding: .5em .5em .5em .5em;
        border-radius:.5em .5em .5em .5em;

        // Button
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;

        &:hover {
            border-color: #000;
        }
    }

    option {
        width: $width-menu;
        white-space: nowrap;
        box-shadow: none;

        font-weight: normal;
    }
}
