nav {
  background-color: #222;
  color: #ddd;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  a {
    padding-right: 1rem;
    color: #fff;
    margin: 0 0.25rem;
    text-decoration: none;
  }
  ul {
    display: flex;
    list-style: none;
  }
  a:hover {
    color: grey;
  }
}
