html,
body {
  height: 100%;
}

.app {
  height: 100%;
  margin: 0;
  text-align: left;
  display: block;
  nav {
    background-color: #ddd;
    color: #222;
    padding: 0.5%;
    a {
      padding-right: 1rem;
    }
  }

  .component {
    height: 85%;
  }
}
